<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="30">
    <properties>
        <property name="app.name">together-user</property>
        <property name="pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</property>
    </properties>
    <appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingRandomAccessFile name="LogToFile" immediateFlush="true" append="true" fileName="${sys:user.home}/.together/${app.name}/logs/${app.name}.log"
                                 filePattern="${sys:user.home}/.together/${app.name}/logs/${date:yyyy-MM}/${app.name}-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout Pattern="${pattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingRandomAccessFile>
    </appenders>

    <Loggers>
        <Logger name="io.github.avijitmondal.together" level="debug" additivity="false">
            <!--<AppenderRef ref="LogToFile"/>-->
            <AppenderRef ref="LogToConsole"/>
        </Logger>
<!--
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
-->
        <Root level="info">
<!--            <AppenderRef ref="LogToFile"/>-->
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</configuration>
